# IDE
.idea/*
.vscode/*
build/*
cmake-build-debug/*
cmake-build-release/*
Testing/*

*.TMP
.DS_Store

test_config.h

# C/C++ libraries
*.a
*.so
*.lib
*.dll
*.dylib

# Python cache files
*.pyc
*.pyd
__pycache__/*


# Mesh file format
*.ply
*.obj
*.off
*.stl
