[submodule "src/tinymesh/ext/tinyobjloader"]
	path = src/tinymesh/ext/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "src/tinymesh/ext/tinyply"]
	path = src/tinymesh/ext/tinyply
	url = https://github.com/ddiakopoulos/tinyply
