# IDE
.idea/*
.vscode/*
build/*
Debug/*
Release/*
cmake-build-debug/*
cmake-build-release/*
Testing/*

*.TMP
.DS_Store

test_config.h

# C/C++ libraries
*.a
*.so
*.lib
*.exp
*.pdb
*.dll
*.dylib

# Python cache files
setup.py
*.pyc
*.pyd
dist/*
__pycache__/*
*.egg-info

# Mesh file format
*.ply
*.obj
*.off
*.stl
