[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
open3d = "*"
matplotlib = "*"
poetry = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
mypy = "*"
isort = "*"
pytest = "*"
jupyterlab = "*"

[requires]
python_version = "3.9"
