name: Windows CI

on:
  push:
    branches:
      - master
      - dev
      - pr
    tags:
      - v*

jobs:
  windows:
    runs-on: windows-latest

    strategy:
      matrix:
        python-version-major: [3]
        python-version-minor: [8, 9, 10, 11, 12]

    env:
      BUILD_TYPE: Release
      python-version: ${{ format('{0}.{1}', matrix.python-version-major, matrix.python-version-minor) }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python version
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry config virtualenvs.path ~/.local/share/virtualenvs

      - name: Cache Poetry
        uses: actions/cache@v3
        id: poetry-cache
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-${{ hashFiles('**/pyproject.toml') }}

      - name: Install Google Test
        run: |
          git clone https://github.com/google/googletest.git --depth 1
          cd googletest
          mkdir build
          cd build
          cmake .. `
            -G "Visual Studio 17 2022" -A x64 `
            -Dgtest_force_shared_crt=ON `
            -DCMAKE_INSTALL_PREFIX="C:/Program Files/GoogleTest/"
          cmake --build . --config "$env:BUILD_TYPE"
          cmake --build . --config "$env:BUILD_TYPE" --target INSTALL

      - name: CMake build
        run: |
          cmake -E make_directory ${{ runner.workspace }}/build
          cd ${{ runner.workspace }}/build
          cmake "$env:GITHUB_WORKSPACE" `
            -G "Visual Studio 17 2022" -A x64 `
            -DGoogleTest_DIR="C:/Program Files/GoogleTest" `
            -DBUILD_TESTS=ON `
            -DBUILD_EXAMPLES=ON
          cmake --build . --config "$env:BUILD_TYPE"

      - name: Unit test
        working-directory: ${{ runner.workspace }}/build
        shell: bash
        run: ctest -C $BUILD_TYPE

      - name: Install Python modules
        if: steps.pipenv-cache.outputs.cache-hit != 'true'
        run: |
          poetry install
          poetry build -f wheel

      - name: Python module test
        run: |
          poetry run pytest -s tests

      - name: Create release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: ./dist/*.whl
          draft: false
          prerelease: false
